---
import Layout from "../layouts/Layout.astro"
import IndividualPost from "../components/IndividualPost.astro"
import Header from "../components/Header.astro";

const API_URL = 'https://ricardhernandez.com';

let posts = [];

if(!Astro.cookies.has("token")){
	return Astro.redirect('/login');
}


  let token = Astro.cookies.get("token").value;

	const options = {
    method: "GET",
    headers: {
      'Content-Type': 'application/json',
      Authorization: `Bearer ${token}`,
    }
  }

  try{
  let resp = await fetch(API_URL + '/api/allimages', options);
  posts = await resp.json()
  console.log("Imagenes solicitadas.")
  
  }catch(error){
    console.log('Error: ', error)
  }


// let posts = [{userName: "Adrin", tags: ["nerdge", "cat"], img: 'images/a.jpg'},
// {userName: "Nat", tags: ["bloc"], img: '/images/notepad.png'},
// {userName: "Pawla", tags: ["pun", "pun", "oyasumi"], img: '/images/punpun.png'}];


async function updateView(){
    
}

---

<Layout title="Home">
  <Header/>
  <div>
    {posts.length > 0 ? posts.map(p => <IndividualPost user={p.userName} tags={p.hashtags} img={p.image}/>)
    : ''}
  </div>
  <a href="/newPost">
    <div class="flex sticky bottom-0 justify-center bg-emerald-600">
      <h1 class="text-3xl mb-1 font-bold">+</h1>
    </div>
  </a>
</Layout>