---
import Layout from "../../layouts/Layout.astro"

const API_URL = 'https://ricardhernandez.com';
let usuarios = [];
let statusString = "";

if(Astro.cookies.has("token")){
	return Astro.redirect('/');
}

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const nom = data.get("name");
  const pass = data.get("password");

  const options = {
    method: "POST",
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({name: nom, password: pass}),
  }

  try{
    let response = await fetch(API_URL + '/api/login', options);

    response = await response.json();

    if(response.message){
      console.log(response.message);
      Astro.cookies.set("token", response.token, { path: '/' });
      
      statusString = "";
      return Astro.redirect('/');
    }
    else
    {
      statusString="Error al loguearse, pruebe de nuevo.";
      console.log(response);
    }
  } catch(error) {
    console.log('Error', error)
  }
}

---

<Layout title="Login">
    <div class="h-screen justify-between m-auto rounded-lg p-4 flex flex-col items-center">
		  <!-- <div>{usuarios?.length > 0 ? usuarios[1].name : "non"}</div> -->
      <div/>
        <form method="post" class="flex flex-col justify-center w-2/3">
			<div class="text-3xl text-center p-2 mb-6">
				<p>Astrogram</p>
			</div>
			<div class="mb-6">
				<input
					class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
					name="name"
					type="text"
					placeholder="Usuario"
				/>
			</div>
      <div class="mb-6">
          <div>
              <input
                  class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700"
                  name="password"
                  type="text"
      placeholder="Contraseña"
              />
          </div>
      </div>
      <p class="text-red-500 italic text-center">{statusString}</p>
        <button class="mt-5 bg-blue-500 hover:bg-blue-700 text-white text-center font-bold py-2 px-4 rounded">
            Iniciar Sesión
        </button>
        </form> 
		<div class="flex justify-bottom">
			<p class="mr-1">¿No tienes cuenta?</p><a class="text-blue-500 underline" href="/login/register">Registrate aqui!</a>
		</div>
    </div>
</Layout>
