---
let actualUser = "";

if(!Astro.cookies.has("token")){
	return Astro.redirect('/login');
}

try{
    
    let token = Astro.cookies.get("token").value;

    const options = {
    method: "GET",
    headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${token}`,
    }
    }

    let response = await fetch('https://ricardhernandez.com/api/refresh', options)

    response = await response.json();
    
    console.log('Header info:',response)
	  actualUser = response.name;

  } catch(error) {
    console.log('Error: ', error)
  }
---

<div class="flex flex-row justify-between p-3 items-center bg-emerald-600 sticky left-0 top-0">
    <a href="/"><img src="/images/logo.png" href="/" class="w-10"/></a>
    <h2 class="text-4xl">Astrogram</h2>
    <h2 class="text-2xl italic text-end">{actualUser}</h2>
</div>