---
const {user, tags, img} = Astro.props;
---

<div class="border-2 border-black">
<img class="w-screen max-h-64 object-contain bg-blue-200" src={img}/>
<div class="flex flew-row justify-between p-3 bg-blue-400">
    <h1 class="text-2xl font-semibold">{user}</h1>
    <div class="flex flew-row font-bold text-xl">
        {tags.map(t => <h3 class="mr-1">#{t}</h3>)}
    </div> 
</div>
</div>